@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

$font-family: Avenir, Helvetica, Arial, sans-serif;
$roboto-font: 'Roboto Mono', monospace;

$pic-hover-color: #FF2D20;

$white-color: rgba(255, 255, 255, 0.934);
$dark-font-color: rgba(4, 4, 4, 0.838);
$blue-font-color: rgb(19, 77, 201);
$light-greenish-font-color: #ccd09d;

$dark-bg-color: #22262d;

$dark-border-color: #6a6969;
$light-border-color: #f0f0f0;

$font-color-transition: color 0.7s ease-in-out;
$transition: 0.7s ease-in-out;

$opacity-transition: opacity 0.5s ease-out;

$full-filter-invert: invert(100%);

$button-color: #eafa39;